.coffin .pillow {
  padding-left: 25px;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  color: #CCC;
  background: #222;
  border-bottom: 1px solid black;
}

.container {
  width: 90%;
}

.header {
  text-align: center;
}

.fanfic-wrapper {
  display: inline-block;
  margin: 10px;
}

.fanfic-wrapper a { display: inline-block; }

.fanfic {
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-block;
  height: 200px;
  padding: 5px;
  width: 200px;
}

.shelf-name {
  font-size: 20px;
}

.shelf-wrapper {
  left: 40px;
}

.shelf-wrapper:first-child {
  margin-top: 20px;
}