  
<div class="row">
  <h1 class="title"><%= @fanfic.title %></h1>
  <div class="ten columns">
    <form method="post" action="/fanfic/<%= @fanfic.id %>/edit">
      <input type="hidden" name="_method" value="put">
      <%= erb :'user/_fanfic_form' %>
      <div class="three columns">
        <input type="submit" value="Save" >
      </div>
    </form>
  </div>
</div>
