  <!-- <div class="backdrop">
    <img src="assets/landing_page_pic.jpg">
  </div> -->
<div class="background">
  <h1 class="header" >WELCOME TO FANSHELF!!!!</h1>


    <div class="sign_up">
      
        <div class="sign_up_title">
          <h2>Sign up!</h2>
        </div>
        <form method="post" action="/user/new">
          <div>
            <input type="text" placeholder="Username" name="name" value="<% @user && @user.name %>">
          </div>
          <div>
            <input type="text" placeholder="Email" name="email" value="<% @user && @user.email %>">
          </div>
          <div>
            <input type="password" placeholder="Password" name="password" value="<% @user && @user.password %>"> 
          </div>
          <div>
            <input type="password" placeholder="Confirm Password" name="password_confirmation" value="<% @user && @user.password %>"> 
          </div>
          <div>
            <input type="submit" value="Signup" class="sign_up_button">
          </div>
        </form>
     
    </div>

    <div class="row">
      <div class="offset-by-four columns">
        <a href="#login_window" id="login_bttn" class="login_button"><button class="login">Login</button></a>
        <div id="login_window" class="login_window animated fadeIn">
          <div class="login_text animated fadeInDown">
            <a href="#hide_window" id="hide_window" title="Close" class="close">X</a>
            <h3 class="login_title">Login</h3>
            <form method="post" action="/user/login">
              <div>
                <input type="text" placeholder="Username" name="name" value="<% @user && @user.name %>">
              </div>
              <div>
                <input type="password" placeholder="Password" name="password" value="<% @user && @user.password %>"> 
              </div>
              <div>
                <input type="submit" value="Login" class="loginbttn" >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
